<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD  Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cn.smbms.dao.user.UserMapper">
  <!--登录  -->
    <select id="login" resultType="User">
       select * from smbms_user where userCode=#{userCode} and userPassword=#{userPassword}
    </select>
        <!--查询用户列表  -->
    <select id="getUserList1" resultType="User" parameterType="User">
        select * from smbms_user where userName=#{userName}
    </select>
    <!--显示信息  -->
    <select id="getUserList" resultMap="userList">
       select u.*,r.roleName from smbms_user u,smbms_role r where u.userRole = r.id
           <if test="userName!=null and userName!=''">
            and u.userName like CONCAT ('%',#{userName},'%')
          </if>
          <if test="userRole>0">
             and u.userRole=#{userRole}
          </if>
        limit #{currentPageNo},#{pageSize}
    </select>
    <resultMap type="User" id="userList">
       <result property="id" column="id" />
       <result property="userName" column="userName" />
       <result property="userRoleName" column="roleName" />
    </resultMap>
    
    <!--总记录数  -->
    <select id="getUserCount" resultType="int">
       select count(1) from smbms_user where 1=1     
           <if test="userName!=null and userName!=''">
            and userName like CONCAT ('%',#{userName},'%')
          </if>
          <if test="userRole>0">
             and userRole=#{userRole}
          </if>  
    </select>
    
      <!--添加判断  -->
   <select id="getuserCode" resultType="User">
     select userCode from smbms_user where userCode=#{userCode}
   </select>
    
    <!--添加  -->
   <insert id="add">
        insert into smbms_user (userCode,userName,userPassword,gender,birthday,phone,
		address,userRole,createdBy,creationDate) 
		values (#{userCode},#{userName},#{userPassword},#{gender}
		,#{birthday},#{phone},#{address},#{userRole},#{createdBy},#{creationDate}) 
   </insert>
   
   <!--删除  -->
   <delete id="deleteUserById">
      delete from smbms_user where id=#{delId}
   </delete>
   
   <!--修改  -->
   <update id="modify"> 
      update smbms_user set userCode=#{userCode},userName=#{userName},userPassword=#{userPassword},
      gender=#{gender},birthday=#{birthday},phone=#{phone},
      address=#{address},userRole=#{userRole},modifyBy=#{modifyBy},modifyDate=#{modifyDate}	where id=#{id}
   </update>
   
   <!--查看信息  -->
   <select id="getUserById" resultType="User">
     select u.*,r.roleName as userRoleName from smbms_user u,smbms_role r 
     where u.userRole=r.id and u.id=#{id};
   </select>
</mapper>
